[user]
	name = Wizard 
	email = wizarddewhite@gmail.com
[color]
	ui = true
[github]
	user = wizarddewhite
	token = d8cf9dd2474cd64711e8bd43050d44bf
[sendmail]
	smtpencryption = tls
	smtppass       = 123
	smtpserver     = smtp.gmail.com
	smtpuser       = wizarddewhite
	smtpserverport = 143
[diff]
	tool = gvimdiff
[difftool]
	prompt = false
[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
	logview = log --graph --decorate --all
	co = checkout
	commit = commit -s
