[user]
	name = Wei Yang 
	email = richard.weiyang@gmail.com
[color]
	ui = true
[sendemail]
	smtpserver = /usr/bin/msmtp
	confirm = always
[diff]
	tool = gvimdiff
[difftool]
	prompt = false
[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
	logview = log --graph --decorate --all
	last = log -1
	oneline = log --oneline
	co = checkout
	commit = commit -s
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen (%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all --
