menu "Test module Kconfig"
	depends on X86_32

config DOWN_DIR
	tristate "Test Down Directory"
	default y
	select KEYS
	help
	  This is a test option

if DOWN_DIR
config BOOL_TYPE_TEST
	bool "Bool Type config entry"
	default n
	help
	  This is a bool type config entry

config STRING_TYPE_TEST
	string "String Type config entry"
	default "string in kconfig"

config DEFAULT_BOOL
	def_bool y
	prompt "Default bool type"

config INT_TYPE
	int "Int type (2-1024)"
	range 2 1024
	default 512 if X86_64
	default 128
endif

source "test/down_dir/Kconfig"
endmenu
