menu "Test module Kconfig"
	depends on X86_32

config DOWN_DIR
	tristate "Test Down Directory"
	default y
	select KEYS
	help
	  This is a test option

config BOOL_TYPE_TEST
	bool "Bool Type config entry"
	default n
	help
	  This is a bool type config entry

config STRING_TYPE_TEST
	string "String Type config entry"
	default "string in kconfig"

endmenu
